# .env

# OpenAi 的api key, 去 https://beta.openai.com/account/api-keys 中生成一个即可,OPENAI_MODEL不填则默认gpt-4o，OPENAI_SYSTEM_MESSAGE为默认角色设定
OPENAI_API_KEY=''
OPENAI_PROXY_URL='https://openai.xxxx.com/v1/'
OPENAI_MODEL=''
OPENAI_SYSTEM_MESSAGE='You are a personal assistant.'

# Kimi 的api key, 去 https://platform.moonshot.cn/console/api-keys
KIMI_API_KEY=''

# 科大讯飞, 去 https://console.xfyun.cn/services
XUNFEI_APP_ID=''
XUNFEI_API_KEY=''
XUNFEI_API_SECRET=''

# deepseek-free, model必须为deepseek-chat或deepseek-coder,去 https://platform.deepseek.com/usage或者https://github.com/LLM-Red-Team/deepseek-free-api
# 在DEEPSEEK_SYSTEM_MESSAGE中设置系统提示词
DEEPSEEK_FREE_URL='https://api.deepseek.com/chat/completions'
DEEPSEEK_FREE_TOKEN=''
DEEPSEEK_FREE_MODEL='deepseek-chat'
DEEPSEEK_SYSTEM_MESSAGE='You are a personal assistant.'

# 302AI
_302AI_API_KEY = ''
_302AI_MODEL= 'gpt-4o-mini'

# dify, URL不包含uri路径
DIFY_API_KEY = ''
DIFY_URL = 'https://api.dify.ai'

# 通义千问, URL 包含 uri 路径
TONGYI_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"

# 通义千问的 API_KEY
TONGYI_API_KEY = ''

# 通义千问使用的模型
TONGYI_MODEL='qwen-plus'

# 白名单配置
#定义机器人的名称，这里是为了防止群聊消息太多，所以只有艾特机器人才会回复，
#这里不要把@去掉，在@后面加上你启动机器人账号的微信名称
BOT_NAME='@可乐'
#联系人白名单
ALIAS_WHITELIST='微信名1,备注名2'
#群聊白名单
ROOM_WHITELIST='XX群1,群2'
#自动回复前缀匹配，文本消息匹配到指定前缀时，才会触发自动回复，不配或配空串情况下该配置不生效（适用于用大号，不期望每次被@或者私聊时都触发自动回复的人群）
#匹配规则：群聊消息去掉${BOT_NAME}并trim后进行前缀匹配，私聊消息trim后直接进行前缀匹配
AUTO_REPLY_PREFIX=''

# 默认服务 302AI，ChatGPT、Kimi、Xunfei、deepseek-free, ollama, dify, tongyi 八选一，不填则键盘交互
SERVICE_TYPE=''