// 真实微信名
export const botWechatName = 'arXiv'

// 定义机器人的名称，这里是为了防止群聊消息太多，所以只有艾特机器人才会回复，
export const botName = '小G'

// 群聊白名单，白名单内的群聊才会自动回复
export const roomWhiteList = ['群名称']

// 联系人白名单，白名单内的联系人才会自动回复
export const aliasWhiteList = ['备注名', '李四']
